@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a JossPoot.Net</h1>
    <p>About me! <a href="https://github.com/Josspoot">Joss Poot GitHub ;)</a>.</p>
</div>