@{
    ViewData["Title"] = "Hola mundo";
}
<div class="about">
<h1>@ViewData["Scream"]</h1>

<p>Hi, my name is Joss, i'm a software developer student, right now i'm learning how to create web pages in ".NET", at the moment it's beeing a little bit confuse, but i hope learn more about this in a couple of months.</p>
<img src="https://images3.memedroid.com/images/UPLOADED847/6530fe6017340.jpeg"></img>
</div>